In [1]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('../datasets/consolidated_coin_data.csv', parse_dates=True).sort_values(by='Date', ascending=False)

In [20]:
df.head(1)

,Currency,Date,Open,High,Low,Close,Volume,Market Cap
21773,ethereum,"Sep 30, 2019",170.46,179.87,167.04,179.87,"7,552,915,148","19,419,149,343"

In [21]:
df.tail(1)

,Currency,Date,Open,High,Low,Close,Volume,Market Cap
23781,ethereum,"Apr 01, 2014",457.00,495.34,457.00,478.38,"35,685,800","6,023,351,178"

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28944 entries, 21773 to 23781
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Currency    28944 non-null  object
 1   Date        28944 non-null  object
 2   Open        28944 non-null  object
 3   High        28944 non-null  object
 4   Low         28944 non-null  object
 5   Close       28944 non-null  object
 6   Volume      28944 non-null  object
 7   Market Cap  28944 non-null  object
dtypes: object(8)
memory usage: 2.0+ MB