#Capstone 3. PREDICTING NEXT CRYPTOCURRENCY MARKET CYCLE PEAK.
##Data Wrangling

In this notebook we will perform data wrangling for our project. We will:
1. retreive historic data for 10 major cryptocurrencies:
    1.1. Bitcoin (BTC)
    1.2. Ethereum (ETH)
    1.3. XPR (XRP)
    1.4.

In [3]:
import pandas as pd
import os
import glob
import seaborn as sns

In [4]:
df = pd.read_csv('../datasets/consolidated_coin_data.csv', parse_dates=True, index_col='Date').sort_values(by='Date', ascending=False)

In [51]:
df.head()

,Currency,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,,
2019-12-04,tezos,1.29,1.32,1.25,1.25,"46,048,752","824,588,509"
2019-12-04,binance-coin,15.35,15.69,15.01,15.28,"237,605,471","2,376,597,490"
2019-12-04,bitcoin-sv,96.00,100.91,94.51,95.44,"492,295,285","1,724,375,560"
2019-12-04,cardano,0.037906,0.038533,0.036550,0.037405,"51,692,274","969,802,335"
2019-12-04,ethereum,147.92,150.68,145.00,146.75,"7,865,937,094","15,966,157,442"

In [52]:
df.head(1)

           Currency  Open  High   Low Close      Volume   Market Cap
Date
2019-12-04    tezos  1.29  1.32  1.25  1.25  46,048,752  824,588,509

In [53]:
df.tail(1)

              Currency  Open  High   Low Close Volume  Market Cap
Date
2013-04-28  bitcoin-sv  4.30  4.40  4.18  4.35      0  74,636,938

In [8]:
df['Currency'].unique()

array(['tezos', 'binance-coin', 'bitcoin-sv', 'cardano', 'ethereum',
       'litecoin', 'stellar', 'xrp', 'tether', 'bitcoin', 'eos',
       'bitcoin-cash'], dtype=object)